{% load static %}

<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Categories</h2>
                    <p>Popular products at Halletts.</p>
                </div>
            </div>
        </div>

        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-product">
                    <div class="product-image">
                        <img src="{% static 'assets/images/products/product-1.jpg' %}" alt="#">
                        <div class="button">
                            <a href="product-details.html" class="btn"><i class="lni lni-cart"></i>See Items</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category">{{ product.title }}</span>
                        <span class="category">Category: {{ product.product_category }}</span>
                        <!-- <span class="category">{{ item.product.title }}</span> -->
                        <!-- <span>{{ item.quantity }} {{ item.quantity_unit }}</span> -->
                        <h4 class="title">
                            <a href="product-grids.html"></a>
                        </h4>
                        <ul class="review">
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star"></i></li>
                            <!-- <li><span>4.0 Review(s)</span></li> -->
                        </ul>
                        <div class="price">
                            <!-- <span>${{ item.price }}</span> -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
<!-- End Trending Product Area -->